.arrow {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.converterblock {
    width: 500px;
    display: flex;
    flex-direction: row;
    margin: 50px auto;

}
.toconvert {
    margin-left: 5px;
}